In [38]:
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler, StandardScaler, PowerTransformer
import numpy as np
import sklearn as sk

In [39]:
p_df = sns.load_dataset("penguins")

In [40]:
test_df = p_df

In [41]:
test_df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [42]:
test_df_categoricals = test_df[["species", "island"]]
test_df_categoricals

    species     island
0    Adelie  Torgersen
1    Adelie  Torgersen
2    Adelie  Torgersen
3    Adelie  Torgersen
4    Adelie  Torgersen
..      ...        ...
339  Gentoo     Biscoe
340  Gentoo     Biscoe
341  Gentoo     Biscoe
342  Gentoo     Biscoe
343  Gentoo     Biscoe

[344 rows x 2 columns]

In [43]:
pd.get_dummies(test_df_categoricals["species"])

     Adelie  Chinstrap  Gentoo
0      True      False   False
1      True      False   False
2      True      False   False
3      True      False   False
4      True      False   False
..      ...        ...     ...
339   False      False    True
340   False      False    True
341   False      False    True
342   False      False    True
343   False      False    True

[344 rows x 3 columns]

In [44]:
#Ordinal coding

In [45]:
p_df.dropna(inplace=True)

In [46]:
p_df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      333.000000     333.000000         333.000000   333.000000
mean        43.992793      17.164865         200.966967  4207.057057
std          5.468668       1.969235          14.015765   805.215802
min         32.100000      13.100000         172.000000  2700.000000
25%         39.500000      15.600000         190.000000  3550.000000
50%         44.500000      17.300000         197.000000  4050.000000
75%         48.600000      18.700000         213.000000  4775.000000
max         59.600000      21.500000         231.000000  6300.000000

In [47]:
scaler = MinMaxScaler()

In [61]:
shoe_sizes = np.array([42, 39, 45, 37, 44]).reshape(-1,1)

In [62]:
scaler.fit(shoe_sizes)

MinMaxScaler()

In [63]:
scaled_shoes = scaler.transform(shoe_sizes)

In [64]:
scaled_shoes

array([[0.625],
       [0.25 ],
       [1.   ],
       [0.   ],
       [0.875]])

In [65]:
pt = PowerTransformer()

In [66]:
pt

PowerTransformer()