In [18]:
import seaborn as sns
import pandas as pd
import random

In [3]:
p_df = sns.load_dataset('penguins')

In [4]:
p_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [7]:
p_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [8]:
p_df = p_df.dropna()

## X-y split

In [9]:
X = p_df[['flipper_length_mm']]
y = p_df[['body_mass_g']]

## Train-test split

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 100)

## Creating our model

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lm = LinearRegression()

In [14]:
model = lm.fit(X_train, y_train)

In [15]:
model.coef_

array([[48.46455556]])

In [16]:
model.intercept_

array([-5538.16645549])

In [17]:
import numpy as np

## Predict the weight of a random penguin

In [19]:
random_peng = np.array([215]).reshape(-1,1)

In [20]:
model.predict(random_peng)

C:\Users\41791\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[4881.71298884]])

## Create "real vs predicted" DataFrame

In [21]:
y_pred = np.array(model.predict(X_test))

In [22]:
y_test.reset_index(inplace=True)

In [23]:
pd.DataFrame(y_pred)[0]

0     3524.705433
1     4397.067433
2     4881.712989
3     3670.099100
4     4590.925656
         ...
79    4639.390211
80    3573.169989
81    3330.847211
82    3427.776322
83    3960.886433
Name: 0, Length: 84, dtype: float64

In [27]:
y_pred

array([[3524.7054333 ],
       [4397.06743329],
       [4881.71298884],
       [3670.09909996],
       [4590.92565551],
       [4203.20921107],
       [3960.88643329],
       [4881.71298884],
       [4978.64209995],
       [5172.50032217],
       [4009.35098885],
       [3476.24087774],
       [3670.09909996],
       [4639.39021106],
       [5366.35854439],
       [4203.20921107],
       [5269.42943328],
       [4251.67376662],
       [4009.35098885],
       [5075.57121106],
       [3912.42187774],
       [4590.92565551],
       [3427.77632219],
       [3282.38265552],
       [3233.91809997],
       [3718.56365552],
       [5366.35854439],
       [5608.68132216],
       [3573.16998885],
       [3573.16998885],
       [3427.77632219],
       [3815.49276663],
       [4639.39021106],
       [3427.77632219],
       [4203.20921107],
       [5317.89398883],
       [3670.09909996],
       [3960.88643329],
       [4784.78387773],
       [3815.49276663],
       [3912.42187774],
       [5075.57121106],
       [3815.49276663],
       [3815.49276663],
       [4009.35098885],
       [4881.71298884],
       [3863.95732218],
       [3524.7054333 ],
       [4978.64209995],
       [4057.8155444 ],
       [4009.35098885],
       [5269.42943328],
       [3670.09909996],
       [4057.8155444 ],
       [4736.31932217],
       [4736.31932217],
       [3670.09909996],
       [4687.85476662],
       [5124.03576661],
       [4154.74465551],
       [3912.42187774],
       [4881.71298884],
       [3912.42187774],
       [3427.77632219],
       [3815.49276663],
       [2797.73709997],
       [5075.57121106],
       [2894.66621108],
       [3524.7054333 ],
       [3573.16998885],
       [4930.17754439],
       [5608.68132216],
       [3718.56365552],
       [5220.96487772],
       [5608.68132216],
       [4930.17754439],
       [5027.1066555 ],
       [4445.53198884],
       [4639.39021106],
       [4639.39021106],
       [3573.16998885],
       [3330.84721108],
       [3427.77632219],
       [3960.88643329]])

In [20]:
y_pred.shape

(84, 1)

In [21]:
real_vs_pred = pd.DataFrame({'y_test': y_test['body_mass_g'], 'y_pred':pd.DataFrame(y_pred)[0]})

In [22]:
real_vs_pred

    y_test       y_pred
0   3350.0  3524.705433
1   4550.0  4397.067433
2   4850.0  4881.712989
3   3450.0  3670.099100
4   4600.0  4590.925656
..     ...          ...
79  4550.0  4639.390211
80  3050.0  3573.169989
81  3075.0  3330.847211
82  3700.0  3427.776322
83  3550.0  3960.886433

[84 rows x 2 columns]

## Compute the MSE

In [23]:
from sklearn.metrics import mean_squared_error as mse

In [24]:
mse(real_vs_pred['y_test'], real_vs_pred['y_pred'])

165251.7722003463

## Using Statsmodel nb

In [39]:
import statsmodels.api as sm

In [40]:
X_train_const = sm.add_constant(X_train.to_numpy())

model = sm.OLS(y_train, X_train_const).fit()
predictions_train = model.predict(X_train_const)

X_test_const = sm.add_constant(X_test)
y_pred = model.predict(X_test_const)
print_model = model.summary()

print_model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            body_mass_g   R-squared:                       0.750
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     741.0
Date:                Wed, 08 Nov 2023   Prob (F-statistic):           2.58e-76
Time:                        15:29:47   Log-Likelihood:                -1837.7
No. Observations:                 249   AIC:                             3679.
Df Residuals:                     247   BIC:                             3687.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -5538.1665    358.124    -15.464      0.000   -6243.532   -4832.801
x1            48.4646      1.780     27.221      0.000      44.958      51.971
==============================================================================
Omnibus:                        4.194   Durbin-Watson:                   2.035
Prob(Omnibus):                  0.123   Jarque-Bera (JB):                3.942
Skew:                           0.304   Prob(JB):                        0.139
Kurtosis:                       3.107   Cond. No.                     2.92e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.92e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""