In [4]:
import pandas as pd
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Lasso,Ridge,ElasticNet, LinearRegression

In [5]:
penguins = sns.load_dataset("penguins")

In [7]:
df = pd.DataFrame(penguins)

In [9]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [26]:
X = df[["bill_length_mm", "bill_depth_mm", "flipper_length_mm", "body_mass_g"]]
y = df[["species", "island", "sex"]]

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

X_train = pd.DataFrame(X_train, columns=X.columns)
X_test  = pd.DataFrame(X_test, columns=X.columns)

In [28]:
X_train.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      274.000000     274.000000         274.000000   274.000000
mean        43.837956      17.063869         201.175182  4202.919708
std          5.513369       1.982351          14.294084   804.193255
min         32.100000      13.100000         172.000000  2700.000000
25%         39.000000      15.300000         190.000000  3550.000000
50%         44.100000      17.200000         197.000000  4062.500000
75%         48.475000      18.600000         214.000000  4787.500000
max         59.600000      21.500000         231.000000  6300.000000

In [32]:
model=LinearRegression()
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

ValueError: could not convert string to float: 'Adelie'