<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#SQL-Alchemy" data-toc-modified-id="SQL-Alchemy-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SQL Alchemy</a></span><ul class="toc-item"><li><span><a href="#Installation" data-toc-modified-id="Installation-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Installation</a></span><ul class="toc-item"><li><span><a href="#Option-1" data-toc-modified-id="Option-1-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Option 1</a></span></li><li><span><a href="#Option-2" data-toc-modified-id="Option-2-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Option 2</a></span></li><li><span><a href="#Option-3" data-toc-modified-id="Option-3-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Option 3</a></span></li><li><span><a href="#Important-Note" data-toc-modified-id="Important-Note-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Important Note</a></span></li></ul></li><li><span><a href="#What-is-SQL-Alchemy" data-toc-modified-id="What-is-SQL-Alchemy-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>What is SQL Alchemy</a></span></li><li><span><a href="#Creating-the-engine" data-toc-modified-id="Creating-the-engine-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Creating the engine</a></span></li><li><span><a href="#Getting-a-connection" data-toc-modified-id="Getting-a-connection-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Getting a connection</a></span></li><li><span><a href="#Running-queries" data-toc-modified-id="Running-queries-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Running queries</a></span><ul class="toc-item"><li><span><a href="#Running-Raw-Queries" data-toc-modified-id="Running-Raw-Queries-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Running Raw Queries</a></span></li><li><span><a href="#Getting-data-from-the-result" data-toc-modified-id="Getting-data-from-the-result-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Getting data from the result</a></span><ul class="toc-item"><li><span><a href="#Getting-the-first-row" data-toc-modified-id="Getting-the-first-row-1.5.2.1"><span class="toc-item-num">1.5.2.1&nbsp;&nbsp;</span>Getting the first row</a></span></li><li><span><a href="#Get-all-rows" data-toc-modified-id="Get-all-rows-1.5.2.2"><span class="toc-item-num">1.5.2.2&nbsp;&nbsp;</span>Get all rows</a></span></li><li><span><a href="#Iterate-through-the-first-column" data-toc-modified-id="Iterate-through-the-first-column-1.5.2.3"><span class="toc-item-num">1.5.2.3&nbsp;&nbsp;</span>Iterate through the first column</a></span></li><li><span><a href="#Getting-the-first-column-in-a-list" data-toc-modified-id="Getting-the-first-column-in-a-list-1.5.2.4"><span class="toc-item-num">1.5.2.4&nbsp;&nbsp;</span>Getting the first column in a list</a></span></li></ul></li><li><span><a href="#Using-it-as-ORM" data-toc-modified-id="Using-it-as-ORM-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Using it as ORM</a></span></li><li><span><a href="#More-examples-on-raw-queries" data-toc-modified-id="More-examples-on-raw-queries-1.5.4"><span class="toc-item-num">1.5.4&nbsp;&nbsp;</span>More examples on raw queries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#CFU" data-toc-modified-id="CFU-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>CFU</a></span></li></ul></li><li><span><a href="#Bonus:-MySQL-Connector" data-toc-modified-id="Bonus:-MySQL-Connector-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Bonus: MySQL Connector</a></span><ul class="toc-item"><li><span><a href="#Installation:" data-toc-modified-id="Installation:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Installation:</a></span></li><li><span><a href="#Establishing-a-Connection:" data-toc-modified-id="Establishing-a-Connection:-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Establishing a Connection:</a></span></li><li><span><a href="#Creating-a-Cursor:" data-toc-modified-id="Creating-a-Cursor:-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Creating a Cursor:</a></span></li><li><span><a href="#Executing-SQL-Queries:" data-toc-modified-id="Executing-SQL-Queries:-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Executing SQL Queries:</a></span><ul class="toc-item"><li><span><a href="#Example:-CoffeeShop-DB-üìí‚òï" data-toc-modified-id="Example:-CoffeeShop-DB-üìí‚òï-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Example: CoffeeShop DB üìí‚òï</a></span></li></ul></li><li><span><a href="#Closing-the-Connection:" data-toc-modified-id="Closing-the-Connection:-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Closing the Connection:</a></span></li></ul></li></ul></div>

# SQL Alchemy

## Installation

For this lesson, you must install the libraries `SQLAlchemy` and `PyMySql` on your computers.
There are several ways to do this installation:

### Option 1

- Open a new Jupyter notebook
- Open a new code cell and type:

```shell
!pip install sqlalchemy
```

- Open a new code cell and type:

```shell
!pip install pymysql
```

### Option 2

Alternatively you can go to the `Anaconda navigator`, and click on the `Environments` section on the left panel. Then:

- On the search bar type: `sqlalchemy`
- If this library doesn't appear as installed click on the checkbox and then on `Apply`, accept the `dependencies` and wait until the system installs the library
- On the search bar type: `pymysql`
- If this library doesn't appear as installed click on the checkbox and then on `Apply`, accept the `dependencies` and wait until the system installs the library

### Option 3

‚ùóÔ∏è If you use this third option, you will first have to save and close your Jupyter notebook, then run the instructions below and open again the Jupyter notebook.


- Open a new terminal (MacOS/Linux) or Conda prompt and type

```shell
!pip install sqlalchemy
```

- Open a new code cell and type:

```shell
!pip install pymysql
```

### Important Note


**Upgrading to SQLAlchemy Version 2.0**:

The new version 2.0 of SQLAlchemy introduces significant API changes compared to the 1.4 series. Given these changes, it's crucial to ensure you have the latest version installed, especially if you plan to follow along with classes or tutorials that use the newest features of the library.

To get started, follow these steps:

1. **Check Your Current Version**:
   Before making any changes, it's wise to check your currently installed version of SQLAlchemy.
   ```bash
   pip show sqlalchemy | grep Version
   ```

2. **Upgrade to Version 2.0 (if necessary)**:
   If your current version is in the 1.x series instead of 2.x, you should upgrade to the latest version.
   ```bash
   pip install --upgrade sqlalchemy
   ```

In [ ]:
!pip install pymysql

In [ ]:
pip show sqlalchemy | grep Version

In [ ]:
!pip install --upgrade sqlalchemy

## What is SQL Alchemy

SQLAlchemy is a popular SQL toolkit and Object-Relational Mapping (ORM) library for Python. It provides a set of high-level APIs to connect to relational databases. Using SQLAlchemy, you can work with relational databases in a more Pythonic way, abstracting away many of the common database operations. Here's a breakdown of its main features:

1. **ORM (Object-Relational Mapping)**:
   - Allows classes to be mapped to database tables, so you can use Python objects to represent database rows.
   - Provides a high-level, abstracted pattern for CRUD (Create, Read, Update, Delete) operations.
   - Automates the process of synchronizing object states with database content.

2. **SQL Expression Language**:
   - A comprehensive SQL abstraction tool that allows you to build SQL queries using Python expressions.
   - Gives you the power and flexibility of raw SQL, but in a more Pythonic way.

3. **Engine**:
   - Provides a source of connectivity to a database, which can be fine-tuned for the specific database dialect.
   - Manages connection pooling, which is crucial for scalable applications.

4. **Dialects**:
   - SQLAlchemy supports a variety of database backends by using dialects. Commonly used database systems like PostgreSQL, MySQL, SQLite, and Oracle have their own dialects in SQLAlchemy.

5. **Schema and Types**:
   - SQLAlchemy provides a way to declare table structures and relationships directly in Python, which can then be used to automatically create (or drop) database structures.
   - Offers a broad set of SQL standard and vendor-specific datatypes.

6. **Session**:
   - Manages the persistence operations for ORM-mapped objects.
   - Acts as a transactional buffer, accumulating changes and flushing them to the database in a batch.

## Creating the engine

**Connecting to a Database using SQLAlchemy**:

To connect to a database, we need to set up an SQLAlchemy "engine". Think of this engine as a bridge or gateway between your Python application and the actual database.

The SQLAlchemy engine provides a standard way to interact with the database and execute SQL statements. It achieves this by managing a set of database connections and using a "dialect" specific to your database.

To get an engine, we use:

```python
sqlalchemy.create_engine(connection_string)
```

To create the *connection string*, this is the general syntax **`'dialect+driver://username:password@host:port/database'`**

In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

# Note that when you use _SQLAlchemy_ and establish the connection, you do not even need to be logged in Sequel Pro or MySQL Workbench.

¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑

In [2]:
bd = "bank"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/bank)

This password policy is used only for illustrative purposes and to be simple. However, we shouldn't store the password in the Jupyter notebook variable. There are other safer ways to do this as shown [here](https://towardsdatascience.com/keeping-credentials-safe-in-jupyter-notebooks-fbd215a8e311) and [here](https://dadoverflow.com/2019/08/09/how-do-you-hide-secrets-in-jupyter-notebooks/)

## Getting a connection

We get a connection using the `connect()` method.

```python
connection = engine.connect()
```

It's better practice though to use context managers to manage the connect/release process:

```python
with engine.connect() as connection:
    ...

```

## Running queries

The SQLAlchemy Connection features an `.execute()` method that will run queries.

```python
with engine.connect() as connection:
    connection.execute(...)
    ...

```

The `Connection.execute()` always returns a `sqlalchemy.engine.Result` object.

### Running Raw Queries

To invoke a textual query, use the `sqlalchemy.text()` passed to `.execute()`.

In [3]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)

result

In this specific case the `Result` its called `CursorResult`.

The `Result` object has many methods we can use. Let's look at some of them.

### Getting data from the result

#### Getting the first row

- `.first()`: returns the first row and closes the result set. The row is a `sqlaclhemy.engine.Row` object.

The `Row` object looks and acts mostly like a named tuple:

In [4]:
row = result.first()

In [5]:
type(row)

sqlalchemy.engine.row.Row

In [6]:
row # Looks like a tuple

(5314, 1787, 930705, 96396, 12, 8033.0, 'B')

In [7]:
row[0] # It has indexes

5314

In [8]:
row.loan_id # Its like a named tuple, we can access it column-wise

5314

In [9]:
row._mapping # It also has a dictionary interface available via an accessor called ._mapping

{'loan_id': 5314, 'account_id': 1787, 'date': 930705, 'amount': 96396, 'duration': 12, 'payments': 8033.0, 'status': 'B'}

In [10]:
row._mapping["loan_id"] # Getting a column value dictionary-wise

5314

In [22]:
def number_of_card_per_type(connection, type):
    with engine.connect() as connection:
        txt = f"SELECT type, COUNT(card_id) AS number_of_cards FROM card WHERE type = '{card_type}' GROUP BY card_id"
        query = text(txt)
        result = connection.execute(query)
        return pd.DataFrame(result.all())
number_of_card_per_type(connection, "classic")

NameError: name 'card_type' is not defined

**Note**: if we were to call another method on result, we might encounter an error. To avoid errors:

- Ensure that you're not trying to fetch rows from the result object more than once.
- If you're using a context for the connection, make sure all operations related to the result object are done within that context.

#### Get all rows

Let's look at different ways of getting all rows from a query.

In [ ]:
# We can loop over result.mappings(), and we'll see that we get dictionaries for each row,
# where the key in each dictionary represents the column name. This makes it easy for us to retrieve the data
# and display it in a loop.

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    for row in result.mappings():
        print(row)

In [ ]:
# If we just want the values in tuples instead of dictionary with column names, we can do the following

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    for row in result:
        print(row)

In [ ]:
# We can also use the method fetchall() to get all those tuples in a list

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    print(result.fetchall())

In [ ]:
# Instead of fetchall() we can get the same result using all(). This code has the same outcome as the block above

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    print(result.all())

In [ ]:
# We can also get it as a DataFrame

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    df = pd.DataFrame(result.all())

df

#### Iterate through the first column

We can use the method `.scalars()` which gives a `ScalarResult`.

In [ ]:
with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    for id in result.scalars():
        print(id)

In [ ]:
# Another way
with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    for row in connection.execute(query):
        print(row.loan_id)

#### Getting the first column in a list

We can call the `.all()` method after the `.scalars()` method.

In [ ]:
with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    print(result.scalars().all())

### Using SQLAlchemy as an ORM

The idea behind ORM (object-relational mapping) is to create a code representation of your database using classes and objects instead of writing raw SQL statements. The classes represent the tables in your database, and the objects of those classes represent rows. So the first step to using ORM is to define classes that map to your tables. Classes that represent tables in an ORM are called models.

We won't be diving into it during the bootcamp, but feel free to [read the docs](https://docs.sqlalchemy.org/en/20/tutorial/) to learn how to use it!

### More examples on raw queries

Let's get how many loans were granted every year, and the month of each duration.

In [ ]:
with engine.connect() as connection:
    # Getting how many loans were granted every year, and the month of each duration.
    txt = '''select year(date) as 'Year', month(date) as 'Month', duration, count(loan_id) as 'New_loans' from bank.loan
            group by Year, Month, duration
            order by Year, Month, duration;'''
    query = text(txt)
    result = connection.execute(query)
    print(pd.DataFrame(result.all()))

Let's create a function to do the same as above.

In [ ]:
# Getting how many loans were granted every year, and the month of each duration.
def get_AB_loans(connection):
    with engine.connect() as connection:
        # Getting how many loans were granted every year, and the month of each duration.
        txt = '''select year(date) as 'Year', month(date) as 'Month', duration, count(loan_id) as 'New_loans' from bank.loan
                group by Year, Month, duration
                order by Year, Month, duration;'''
        query = text(txt)
        result = connection.execute(query)
        return pd.DataFrame(result.all())

In [ ]:
get_AB_loans(connection)

## Summary

As you can see, launching queries from Python against a SQL database involves several steps:

- Create the `engine`:
    ```python
    connection_string = 'dialect+driver://username:password@host:port/database'
    engine = sqlalchemy.create_engine(connection_string)
    ```
- Getting a `connection`
    ```python
    with engine.connect() as connection:
        ...
    ```
- Create a string with the query and put it inside `text()` method
- Launch the query with `execute()` method
- Get data from the Result object as needed

For example, if we want the whole result from our `SELECT` query, we could do:

```python
with engine.connect() as connection:    
    query = text('SELECT ...')
    result = connection.execute(query)
    df = pd.DataFrame(result.all())
    
df # Do stuff with the DataFrame
```


Some guidelines when creating functions:

- Try to make your functions as self contained as possible
- Try to make your functions as general as possible (use optional arguments if needed)
- Test your Python functions!

# Bonus: MySQL Connector

MySQL Connector/Python is an official MySQL client library for Python. It allows Python programs to connect and interact with MySQL databases.

- Suitable for scripts or applications that need a straightforward way to connect to a MySQL database and execute queries.
- Specific to MySQL.
- Focused on providing a direct connection to MySQL, so while it's efficient for that purpose, it lacks the broader features and abstractions of an ORM like SQL Alchemy.
- Operates at a lower level. You work directly with SQL queries, and the results you get back are typically in the form of rows and columns, rather than structured Python objects.


## Installation:
Before we start, ensure you have `mysql-connector-python` installed:
```bash
pip install mysql-connector-python
```

In [ ]:
%pip install mysql-connector-python

## Establishing a Connection:
To connect to a MySQL database, you need the host name (or IP address), the database name, and the credentials (username and password).

```python
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database_name"
)
```

In [ ]:
import mysql.connector

In [ ]:
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [ ]:
conn = mysql.connector.connect(host='localhost',
                        user='root',
                        passwd=password)

## Creating a Cursor:
A cursor object allows you to execute SQL queries and fetch results.

```python
cursor = conn.cursor()
```

In [ ]:
cursor = conn.cursor()

cursor

## Executing SQL Queries:
Using the cursor, you can execute any SQL statement.

**SELECT Statement:**

```python
cursor.execute("SELECT * FROM your_table_name")
rows = cursor.fetchall()

for row in rows:
    print(row)
```

**INSERT Statement:**

```python
sql = "INSERT INTO your_table_name (column1, column2) VALUES (%s, %s)"
values = ("value1", "value2")

cursor.execute(sql, values)
conn.commit()  # Save the changes
```

**CREATE Statement:**
```python
cursor.execute("CREATE DATABASE new_database_name")
conn.commit()  # Save the changes
```

### Example: CoffeeShop DB üìí‚òï

We're going to use a simple, relatable example: setting up a database for a coffee shop.

1. **Create** our `CoffeeShop` database.
2. **Create** a table to list various coffee items (coffee id, coffee name, price).
3. **Insert** coffee menu items into our table.
4. **Query** our table to view the items we've added.

Let's create a CoffeeShop database.

In [ ]:
# Create CoffeeShop Database
cursor.execute("CREATE DATABASE IF NOT EXISTS CoffeeShop")

In [ ]:
# Switch to the CoffeeShop Database
cursor.execute("USE CoffeeShop")

Create a Menu Table: We'll create a table called Menu with columns for coffee name and its price.

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Menu (
    coffee_id INT AUTO_INCREMENT PRIMARY KEY,
    coffee_name VARCHAR(255) NOT NULL,
    price DECIMAL(5,2) NOT NULL
)
""")
print("Table Menu created successfully!")

Let's insert values into the table:

In [ ]:
# Insert Coffee Items into Menu Table
menu_items = [
    ("Espresso", 2.50),
    ("Cappuccino", 3.00),
    ("Latte", 3.50),
    ("Americano", 2.00),
    ("Mocha", 3.75)
]

cursor.executemany("INSERT INTO Menu (coffee_name, price) VALUES (%s, %s)", menu_items)
conn.commit()
print(f"{cursor.rowcount} coffee items inserted!")

Finally, lets see our data!

In [ ]:
# Select and Display Coffee Items from Menu Table
cursor.execute("SELECT coffee_name, price FROM Menu ORDER BY price DESC")
results = cursor.fetchall()

pd.DataFrame(results)

## Closing the Connection:
After performing database operations, remember to close the cursor and the connection.

```python
cursor.close()
conn.close()
```

In [ ]:
# Close the cursor and the connection.
cursor.close()
conn.close()