In [13]:
import sklearn as sks
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("marketing_customer_analysis_clean.csv")

In [22]:
df.describe

<bound method NDFrame.describe of        unnamed:_0 customer       state  customer_lifetime_value response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877  California              6857.519928       No

       coverage education effective_to_date employmentstatus gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       number_of_policies     policy_type        policy  renew_offer_type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      vehicle_type month
0                A     2
1                A     1
2                A     2
3                A     1
4                A     1
...            ...   ...
10905            A     1
10906            A     1
10907            A     2
10908            A     2
10909            A     1

[10910 rows x 27 columns]>

In [10]:
df = df.dropna()

In [11]:
scaler = StandardScaler()

In [12]:
x = df[["customer_lifetime_value", "number_of_policies", "month"]]
y = df[["total_claim_amount"]]

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [15]:
x_train

      customer_lifetime_value  number_of_policies  month
4716             22217.967960                   2      2
8775              8260.639809                   3      1
4754              2269.841123                   1      2
6569              8869.631143                   4      1
1438              5002.093264                   3      1
...                       ...                 ...    ...
5734              3810.238281                   1      2
5191              3815.851163                   1      1
5390              7850.590399                   2      2
860               4974.235309                   3      2
7270             38055.209530                   2      2

[8182 rows x 3 columns]

In [16]:
lm = LinearRegression()

In [17]:
model = lm.fit(x_train, y_train)

In [18]:
model.coef_

array([[ 0.01020103, -1.14354746, -0.83260235]])

In [19]:
model.intercept_

array([357.2368178])